@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Common Tags */
a{
    text-decoration: none;
}

strike{
    color: red;
    font-size: 14px;
    font-style: italic;
}


/* Header Nav Bar */
.header-section{
    background-color: #000;
}

.nav-item a{
    color: #fff;
}

.nav-item a:hover{
    color: #bdc3c7;
}

.dropdown-menu .dropdown-item{
    color: #000;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover{
    color: #000;
}

/* Home Page */
#homepage{
    width: 100%;
    height: 100%;
    min-height: 550px;
    background-color: #111;
}

.banner-1,
.banner-2,
.banner-3{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-img{
    width: 450px;
}

.carousel-item .row .col{
    width: 500px;
}

.banner-btn{
    text-decoration: none;
    color: #fff;
    width: 150px;
    padding: 10px 20px;
    background-color: royalblue;
    margin: 1.5rem 0;
    border-radius: 5px;
}

.banner-btn:hover{
    color: #fff;
    box-shadow: 0px 0px 8px 0px royalblue;
}

.carousel-item h3{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #fff;
}

.carousel-item h4{
    margin-bottom: 10px;
    color: #fff;
}

.carousel-item h5{
    color: #fff;
}

#homepage .carousel-indicators button{
    width: 4rem;
    height: .2rem;
}

/* Product Page */
#productpage{
    width: 100%;
    height: auto;
    padding:  3rem 2rem;
}

#productpage .card{
    margin: 1rem 0;
    width: 15rem;
    height: 20rem;
    border: none;
    border-radius: 0px;
    padding: 5px;
    box-shadow: 0px 2px 5px;
}

#productpage .card:hover{
    box-shadow: 0px 2px 10px;
    transform: translateY(-5px);
}

/* Product Page - 2 */

#productpage-2{
    width: 100%;
    height: auto;
    padding:  3rem 2rem;
}

#productpage-2 .card{
    margin: 1rem 0;
    width: 25rem;
    border: none;
    border-radius: 0px;
    padding: 5px;
    box-shadow: 0px 2px 5px;
}

#productpage-2 .card .row .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#productpage-2 .card img{
    width: 150px;
}

#productpage-2 .productpage-btn{
    width: 100%;
    text-decoration: none;
    background-color: royalblue;
    text-align: center;
    color: #fff;
    padding: .5rem;
    margin-top: 5px;
    border-radius: 5px;
}

#productpage-2 .productpage-btn:hover{
    box-shadow: 0px 0px 8px 0px royalblue;
}

/* Footer */
#footer{
    width: 100%;
    height: auto;
    background-color: #111;
    color: #fff;
    padding: 1rem 0;
}

#footer .col{
    width: 200px;
}

#footer .footer-links{
    display: flex;
    flex-direction: column;
}

#footer p{
    font-size: 20px;
}

#footer .footer-links a{
    text-decoration: none;
    color: #fff;
    padding: 2px 0;
}

#footer .footer-links a:hover{
    text-decoration: underline;
}

.copyright{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    padding: .5rem;
    background-color: #000;
}