@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Common Tags */
a{
    text-decoration: none;
}


/* Header Nav Bar */
.header-section{
    background-color: #111111;
}

.nav-item a{
    color: #fff;
}